<head>
  {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/choix.css' %}">
</head>
<body>


<div>
  <div class="sign">
    {% if status == 'OK' %}
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/Approve_icon.svg">
    <div class="alert alert-success" role="alert">
      Bon choix
    </div>
    <div class="alert alert-success" role="alert">
    <div class="result">
      <h2>votre choix est :</h2>
      <h3> Starter : {{food.starter.display_name}} <span>({{food.starter.cal}}) calories</span></h3>
      <h3> Dish : {{food.dish.display_name}} <span>({{food.dish.cal}}) calories</span></h3>
      <h3> Desert : {{food.desert.display_name}} <span>({{food.desert.cal}}) calories</span></h3>
      <h3 id="somme"> ({{food.starter.cal}} + {{food.dish.cal}} +{{food.desert.cal}} = {{somme}}) calories</h3>
    </div>
  </div>
  {% endif %}

  {% if status == 'KO' %}
      <img src="http://clipart-library.com/img/1718414.png">
      <div class="alert alert-danger" role="alert">
          Mauvais choix
      </div>
      <div class="alert alert-danger" role="alert">
      <div class="result">
        <h2>votre choix est :</h2>
        <h3> Starter : {{food.starter.display_name}} <span>({{food.starter.cal}}) calories</span></h3>
        <h3> Dish : {{food.dish.display_name}} <span>({{food.dish.cal}}) calories</span></h3>
        <h3> Desert : {{food.desert.display_name}} <span>({{food.desert.cal}}) calories</span></h3>
        <h3 id="somme"> ({{food.starter.cal}} + {{food.dish.cal}} +{{food.desert.cal}} = {{somme}}) calories</h3>
      </div>
      </div>
      {% endif %}

</div>
</div>
<form action="/">
    <button type="submit" class="btn btn-success">Autre choix</button>
</form>
</body>
